<div class="flex-v">
  <div class="user-photo-placeholder mtop-5"  [id]="'user-photo-placeholder-'+review.$key">
    <img [src]="review?.userPhotoURL" alt="" (load)="loadedUserPhoto(review.$key)" class="user-photo" (click)="navigateToUser(review?.user_uid)" tappable>
  </div>
  <div>
    <div class="flex-v">
      <span class="mleft-10 owner-name bold" (click)="navigateToUser(review?.user_uid)" tappable>{{review?.userName}}</span>
      <star [rating]="review?.stars" [size]="'small'" [readOnly]="true" [labelText]="''" [hoverEnabled]="false" style='margin-top:3px'></star>
    </div>
    <span class="mleft-10 size-12">{{review?.dateReviewed | toFullDateAndTime}}</span>
  </div>
</div>
<div class="mtop-10 pre-line" [class.review-comment]="clampText" [innerHtml]="review?.comment | linkify"></div>

<div class="flex-v flag-review-box" *ngIf="review?.isFlagged">
  <span class="mright-5">This review has been flagged as spam/inappropriate.</span>
  <div>
    <button ion-button icon-only clear class="size-11" (click)="reviewOptions('unflag',review)">
      <ion-icon name="md-flag" color="white"></ion-icon>
    </button>
    <button ion-button icon-only clear class="size-11" (click)="reviewOptions('delete',review)">
      <ion-icon name="md-trash" color="white"></ion-icon>
    </button>
  </div>
</div>

<div class="flex-v flex-end" *ngIf="!review?.isFlagged">
  <button ion-button icon-only clear class="size-11" (click)="reviewOptions('delete',review)">
    <ion-icon name="md-trash"></ion-icon>
  </button>
</div>

<div class="arrow-up developer-reply-arrow mtop-5" [ngClass]="!review?.isFlagged ? 'notFlagged':''" *ngIf="review?.reply"></div>
<div class="flex-v pad-10 developer-reply" *ngIf="review?.reply">
  <div class="user-photo-placeholder mtop-5"  [id]="'user-photo-placeholder-'+review?.reply?.$key">
    <img [src]="review?.reply?.userPhotoURL" alt="" (load)="loadedUserPhoto(review?.reply?.$key)" class="user-photo" (click)="navigateToUser(review?.reply?.user_uid)" tappable>
  </div>
  <div>
    <div class="flex-v">
      <span class="mleft-10 owner-name bold" (click)="navigateToUser(review?.reply?.user_uid)" tappable>{{review?.reply?.userName}}</span>
    </div>
    <span class="mleft-10 size-12">{{review?.reply?.dateReplied | toFullDateAndTime}}</span>
  </div>
</div>
<div class="developer-reply pad-10 mbot-10" *ngIf="review?.reply">
  <span class="pre-line" [class.review-comment]="clampText" [innerHtml]="review?.reply?.comment | linkify"></span>
</div>
