<ion-header>
  <ion-navbar>
    <ion-title *ngIf="user?.name && pageLoaded">{{user?.name}}</ion-title>
    <ion-title *ngIf="!user?.name && pageLoaded">User not found</ion-title>
    <ion-title *ngIf="!pageLoaded">User Profile</ion-title>
  </ion-navbar>
</ion-header>


<ion-content *ngIf="!pageLoaded" class="bg">
  <div class="full-height flex-hv">
    <div class="grid-center" *ngIf="errorLoad">
      <ion-icon name="close" class="large-icon"></ion-icon>
      <span>Please check your internet connection.</span>
      <button ion-button class="half-width center mtop-5" (click)="retry()">Retry</button>
    </div>
    <div class="grid-center" *ngIf="!errorLoad">
      <div class="loader"></div>
    </div>
  </div>
</ion-content>

<ion-content class="bg" *ngIf="pageLoaded && !errorLoad">
  
  <div class="full-height flex-hv" *ngIf="!user.name;else validUser">
    <div class="grid-center">
      <ion-icon name="md-alert" class="large-icon"></ion-icon>
      <span>User not found.</span>
    </div>
  </div>

  <ng-template #validUser>
    <div padding class="container center" style="padding-top:0">
      
      <ion-card style="margin-top:-2px;">
        <div class="user-header">
          <div class="user-photo-container">
            <div class="user-photo-placeholder shimmer" id="user-photo-placeholder">
              <img [src]="user?.photoURL" alt="" class="user-photo" (load)="onUserPhotoLoad()" tappable imageViewer>
            </div>
          </div>
        </div>
        <div class="user-body">
          <div padding-left padding-right text-center class="size-24 bold user-name">
            <div class="flex-h">
              {{user?.name}}
              <div class="online" *ngIf="isOnline"></div>
            </div>
          </div>
          <div text-center *ngIf="isDeveloper" class="size-16">
            <ion-badge color='primary'>Developer</ion-badge>
          </div>
          <div padding text-center text-wrap class="bio pre-line">
            <span *ngIf="user?.bio" class="pre-line" [innerHtml]="user?.bio | linkify"></span>
            <span class="italic" *ngIf="!user?.bio">No biography provided</span>
          </div>

          <div padding>
            <div class="size-18 bold">Information</div>
            <ion-list>
              <ion-item tappable (click)="launchEmail()">
                <div class="info-label">Email Address:</div>
                <div class='full-width bold' text-wrap *ngIf="user?.email">{{user?.email}}</div>
                <div class='full-width italic' text-wrap *ngIf="!user?.email">Not provided</div>
                <ion-icon tappable class="no-margin" name="md-mail" item-end></ion-icon>
              </ion-item>
              <ion-item tappable (click)="showStatusModal()">
                <div class="info-label">Status:</div>
                <div class="full-width"><ion-badge [color]="getUserStatusColor()" class="size-14" text-wrap text-capitalize>{{user?.status}}</ion-badge></div>
                <ion-icon tappable name="md-more" item-end></ion-icon>
              </ion-item>
              <ion-item tappable (click)="goToSocialAccount()">
                <div class="info-label">Social Provider:</div>
                <div class="full-width"><ion-badge class="size-14" [color]="getUserProvider()" text-capitalize>{{getUserProvider()}}</ion-badge></div>
                <ion-icon tappable class="no-margin" name="md-open" item-end></ion-icon>
              </ion-item>
              <ion-item>
                <div class="info-label">Last Seen:</div>
                <div class="full-width">
                  <ion-badge *ngIf="isOnline; else notOnline" class='secondary size-14'>Online</ion-badge>
                  <ng-template #notOnline>
                    <span class="size-14 bold">{{!user?.lastSeen ? '-' : (user?.lastSeen | toFullDateAndTime)+' ('+(user?.lastSeen | timeFromNow)+')'}}</span>
                  </ng-template>
                </div>
              </ion-item>
              <ion-item>
                <div class="info-label">Account created:</div>
                <div class="full-width">
                  <span class="size-14 bold">{{(user?.dateCreated | toFullDateAndTime)}} ({{user?.dateCreated | timeFromNow}})</span>
                </div>
              </ion-item>
              <ion-item *ngIf="isDeveloper">
                <div class="info-label">Developer since:</div>
                <div class="full-width">
                  <span class="size-14 bold">{{(user?.developerSince | toFullDateAndTime)}} ({{user?.developerSince | timeFromNow}})</span>
                </div>
              </ion-item>
            </ion-list>
          </div>

          <div padding *ngIf="isDeveloper">
            <div class="size-18 bold" margin-bottom>Showcased Apps <ion-badge color="primary" *ngIf="apps && apps?.length > 0">{{apps?.length}}</ion-badge></div>
            <div class="flex-hv h-50" *ngIf="apps?.length == 0 && pageLoaded">
              <span>User haven't showcased any apps yet.</span>
            </div>
            <app-list-table *ngIf="apps && apps?.length != 0" [apps]="apps" [hideOwner]="true" [hideAppCount]="true" [fullWidth]="true" [noPadding]="true"></app-list-table>
          </div>
        </div>
        


        <!--<div margin class="separator"></div>-->
        <!--<div padding>
          <div class="size-18 bold" margin-bottom>Showcased Apps <ion-badge color="primary" *ngIf="apps && apps?.length > 0">{{apps?.length}}</ion-badge></div>
          <div class="flex-hv" *ngIf="apps?.length == 0 && pageLoaded">
            <span>User haven't showcased any apps yet.</span>
          </div>
          <masonry *ngIf="apps && apps?.length != 0">
            <masonry-brick class="brick" *ngFor="let app of (apps | sort:'datePublished':'desc');let i=index">
              <app-card [app]="app" [hideDeveloperName]="true"></app-card>
            </masonry-brick>
          </masonry>
        </div>-->
      </ion-card>
    </div>
  </ng-template>

</ion-content>
