<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
			{{app.platforms.android.releases[0]?.releaseName ? app.platforms.android.releases[0]?.releaseName : 'Release '+app.platforms.android.releases[0]?.versionName}}
    </ion-title>
		<ion-buttons end>
			<button ion-button (click)="dismiss()">
				<ion-icon name="close" color="white"></ion-icon>
			</button>
		</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--{{app.platforms.releases[0].versionName}}-->
  <!--<ion-slides>-->
    <!--<ion-slide *ngFor="let release of app.platforms.android.releases;let i=index">-->
       <!--class="full-height"-->
    <!--<ion-scroll scrollY="true">-->

      <!--class="full-height" -->
      <ion-grid *ngFor="let release of app.platforms.android.releases;let i=index" padding>
        <ion-row>
          <ion-col no-padding class="flex-v">
            <div text-wrap class="bold size-16">{{release.packageName}}</div>
          </ion-col>
          <ion-col col-auto no-padding>
            <button ion-button icon-only clear (click)="downloadApk(release.demoDownloadURL)">
              <ion-icon name="md-download"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
        
        <div class='separator mtop-10 mbot-10'></div>

        <!--VERSIONS-->
        <ion-row>
          <ion-col>
            <ion-row>
              <span class="size-14">Version code</span>
            </ion-row>
            <ion-row>
              <span class="bold size-16">{{release.versionCode}}</span>
            </ion-row>
          </ion-col>

          <ion-col>
            <ion-row>
              <span class="size-14">Version name</span>
            </ion-row>
            <ion-row>
              <span class="bold size-16">{{release.versionName}}</span>
            </ion-row>
          </ion-col>

          <ion-col>
            <ion-row>
              <span class="size-14">Apk size</span>
            </ion-row>
            <ion-row>
              <span class="bold size-16">{{release.demoFileSize | fileSize}}</span>
            </ion-row>
          </ion-col>
        </ion-row>

        <div *ngIf="release.supportsScreens" class='separator mtop-10 mbot-10'></div>

        <!--SUPPORT SCREENS-->
        <ion-row *ngIf="release.supportsScreens" (click)="supportsScreenExpand()">
          <ion-col text-left class="middle width-190">
            <span class="size-14">Supported screens</span>
          </ion-col>
          <ion-col class="middle">
            <span *ngIf="supportScreensLength > 0" class="bold size-14">{{supportScreensLength == 1 ? supportScreensLength+' screen supported' : supportScreensLength+' screens supported'}}</span>
            <ion-icon float-right [name]="screenExpanded ? 'md-arrow-dropup' : 'md-arrow-dropdown'"></ion-icon>
            
            <ion-row *ngFor="let screen of supportsScreens">
              <div class="size-14 full-width expanded capitalize" *ngIf="screenExpanded" text-left text-wrap>{{screen.key}}
                <span float-right>
                  <ion-icon [name]="screen.value ? 'md-checkmark-circle' : 'md-close-circle'" [color]="screen.value ? 'android' : 'danger' "></ion-icon>
                </span>
              </div>
            </ion-row>
          </ion-col>
        </ion-row>

        <div class='separator mtop-10 mbot-10'></div>

        <!--PERMISSIONS-->
        <ion-row (click)="permissionExpanded = !permissionExpanded">
          <ion-col text-left class="middle width-190">
            <span class="size-14">App permissions</span>
          </ion-col>
          <ion-col class="middle">
            <span *ngIf="!release.usesPermissions || release.usesPermissions?.length == 0" class="bold size-14">No permissions required</span>
            <span *ngIf="release.usesPermissions && release.usesPermissions?.length > 0" class="bold size-14">{{release.usesPermissions?.length == 1 ? release.usesPermissions?.length+' permission' : release.usesPermissions?.length+' permissions'}}</span>
            <ion-icon *ngIf="release.usesPermissions && release.usesPermissions?.length > 0" float-right [name]="permissionExpanded ? 'md-arrow-dropup' : 'md-arrow-dropdown'"></ion-icon>
            
            <ion-row *ngFor="let permission of release.usesPermissions">
              <div class="size-14 full-width expanded" *ngIf="permissionExpanded" text-left text-wrap>{{permission.name}}</div>
            </ion-row>
          </ion-col>
        </ion-row>

        <div class='separator mtop-10 mbot-10'></div>
        
        <!--SDK-->
        <ion-row>
          <ion-col text-left class="width-190">
            <span class="size-14">SDK</span>
          </ion-col>
          <ion-col>
            <ion-row>
              <ion-col no-padding>
                <div *ngIf="release.usesSdk.minSdkVersion">Minimum SDK version</div>
                <div *ngIf="release.usesSdk.minSdkVersion" class="bold">{{release.usesSdk.minSdkVersion}}</div>
              </ion-col>

              <ion-col no-padding>
                <div *ngIf="release.usesSdk.targetSdkVersion">Target SDK version</div>
                <div *ngIf="release.usesSdk.targetSdkVersion" class="bold">{{release.usesSdk.targetSdkVersion}}</div>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>

        <div class='separator mtop-10 mbot-10'></div>

        <!--UPLOADED-->
        <ion-row>
          <ion-col text-left class="width-190">
            <span class="size-14">Uploaded on</span>
          </ion-col>
          <ion-col>
            <div class="size-14 bold">{{release.dateCreated | toFullDateAndTime}}</div>
          </ion-col>
        </ion-row>

        <div class='separator mtop-10 mbot-10'></div>
        
        <!--RELEASE NOTES-->
        <ion-row>
          <ion-col text-left class="width-190">
            <span class="size-14">Release notes</span>
          </ion-col>
          <ion-col>
            <div class="size-14 bold release-notes">{{release.releaseNotes && release.releaseNotes.trim().length!=0 ? release.releaseNotes : 'None'}}</div>
            <!--<div class="d-block" float-right>
              <p ion-text class='push-right'> {{clonedReleaseNotes ? clonedReleaseNotes?.length : 0}}/2000</p>
            </div>-->
          </ion-col>
        </ion-row>

      </ion-grid>

    <!--</ion-slide>-->
  <!--</ion-slides>-->

    <!--</ion-scroll>-->
</ion-content>
